body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 5px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background:  transparent;
    border:none;
    float: left;
    height: 35px;    
    padding: 0;
    width: 35px;
    border-radius:17px;
  }
  .black-chess{
    background: black;
     
  }
  .black-chess-border{
    background: black;
    border: 2px solid red;
     
  }

   .white-chess{
    background: white;
     
  }
  .white-chess-border{
    background: white;
    border: 2px solid red; 
  }
  .square:focus {
    outline: none;
  }
  .square:hover{
      cursor: pointer;
  }
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .panel{
    position:relative;
  }
  .cloud{
    position:absolute;
    top:43px;
    left:43px;
  }

  .container {
    display:flex;
    flex-direction:row;
    justify-content:center;
    background:#fff;
    margin:auto;
     
  }
p {
  white-space: pre;
}
  .mytitle{
    position:absolute;
    top:0px;
    width:100%;
    text-align:center;
    font-size: 1.5rem;
    color:white;
    background-color: darkseagreen;
  }

  .cover-waiting {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color:red;

    
  }

  .cover-on {
    z-index: 99;
  }
  
  